export(metaLik, test.metaLik, simulate.metaLik)
S3method(profile, metaLik)
S3method(print, metaLik)
S3method(summary, metaLik)
S3method(coef, metaLik)
S3method(vcov, metaLik)
S3method(logLik, metaLik)
S3method(model.matrix, metaLik)
S3method(residuals, metaLik)

